html,
body{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
}
a{
    color: black
}

p{
    font-size: 20px;
}

.section-wrapper{
    background-color: lightblue;
    padding: 25px; 
}

.interior{
    background-color: lightgreen;
    border: 10px solid green;
    margin: 40px auto;
    padding: 40px;
}

.flex-interior{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0 auto;
    max-width: 900px;
    padding:40px 0;

}

.flex-parent{
    background-color: lightcoral;
    border: 5px solid brown;
    display: flex;
    flex-basis: 40%;
    flex-shrink: 0%;
    gap: 25px;
    padding: 25px;
    width: 100%;

}

.flex-parent:first-of-type{
    flex-basis: 100%;
    padding: 40px;

}

.flex-parent h1{
    color:brown
}

.flex-parentL-stacked{
    flex-direction: column;
}

.flex-child {
    background-color: beige;
    border: 2px solid orange;
    flex-basis: 33%;
   
    min-height: 100px;

}

.flex-child-big{
    align-items:center;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
}
